{% extends "base.html.twig" %}

{% block main %}

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="box box-default collapsed-box">
                    <div class="box-header">
                        <h3 class="box-title">Marcas de Productos</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                        <table id="table1" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="th-2">Nombre</th>
                                <th class="th-2">Opciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for brand in array.productBrandList %}
                                <tr>
                                    <td class="td-2">{{ brand.productBrand }}</td>
                                    <td class="td-2">
                                        <!-- Trigger the modal with a button -->
                                        <button type="button" class="btn btn-box-tool" data-toggle="modal"
                                                data-target="#myModal"><i class="fa fa-eye"></i></button>
                                        <button type="button" class="btn btn-box-tool" data-toggle="modal"
                                                data-target="#myModal"><i class="fa fa-pencil"></i></button>
                                        <button type="button" class="btn btn-box-tool" data-toggle="modal"
                                                data-target="#myModal"><i class="fa fa-close"></i></button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- / .table -->
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->


            <div class="col-lg-6 col-sm-12">
                <div class="box box-default collapsed-box">
                    <div class="box-header">
                        <h3 class="box-title">Categorias de Productos</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                        <table id="table2" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="th-2">Nombre</th>
                                <th class="th-2">Opciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for category in array.productCategoryList %}
                                <tr>
                                    <td class="td-2">{{ category.productCategory }}</td>
                                    <td class="td-2">
                                        <!-- Trigger the modal with a button -->
                                        <button type="button" class="btn btn-box-tool" data-toggle="modal"
                                                data-target="#myModal"><i class="fa fa-eye"></i></button>
                                        <button type="button" class="btn btn-box-tool" data-toggle="modal"
                                                data-target="#myModal"><i class="fa fa-pencil"></i></button>
                                        <button type="button" class="btn btn-box-tool" data-toggle="modal"
                                                data-target="#myModal"><i class="fa fa-close"></i></button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- / .table -->
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->


            <div class="col-lg-6 col-sm-12">
                <div class="box box-default collapsed-box">
                    <div class="box-header">
                        <h3 class="box-title">Clases de Productos</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                        <table id="table3" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="th-2">Nombre</th>
                                <th class="th-2">Opciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for class in array.productClassList %}
                                <tr>
                                    <td class="td-2">{{ class.productClass }}</td>
                                    <td class="td-2">
                                        <!-- Trigger the modal with a button -->
                                        <button type="button" class="btn btn-box-tool" data-toggle="modal"
                                                data-target="#myModal"><i class="fa fa-eye"></i></button>
                                        <button type="button" class="btn btn-box-tool" data-toggle="modal"
                                                data-target="#myModal"><i class="fa fa-pencil"></i></button>
                                        <button type="button" class="btn btn-box-tool" data-toggle="modal"
                                                data-target="#myModal"><i class="fa fa-close"></i></button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- / .table -->
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->

            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Productos</h3>
                        <button type="button" class="btn btn-primary float-right" data-toggle="modal"
                                data-target="#productNewModal">Nuevo
                        </button>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="maintable" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="th-5">Codigo</th>
                                <th class="th-5">Producto</th>
                                <th class="th-5">Marca</th>
                                <th class="th-5">Visibilidad</th>
                                <th class="th-5">Opciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in array.productList %}
                                <tr>
                                    <td class="td-5">{{ product.productCode }}</td>
                                    <td class="td-5">{{ product.productClass }}</td>
                                    <td class="td-5">{{ product.productBrand }}</td>
                                    <td class="td-5">{{ product.status }}</td>
                                    <td class="td-5">
                                        <!-- Trigger the modal with a button -->
                                        <button type="button" class="btn btn-box-tool" data-toggle="modal"
                                                data-target="#selectModal{{ loop.index }}"><i class="fa fa-eye"></i>
                                        </button>
                                        <button type="button" class="btn btn-box-tool" data-toggle="modal"
                                                data-target="#updateModal{{ loop.index }}"><i class="fa fa-pencil"></i>
                                        </button>
                                        <button type="button" class="btn btn-box-tool" data-toggle="modal"
                                                data-target="#deleteModal{{ loop.index }}"><i class="fa fa-close"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- / .table -->
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>





















    {% for product in array.productList %}
        <!-- Modal -->
        <div id="selectModal{{ loop.index }}" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Detalles del Producto</h4>
                    </div>
                    <div class="modal-body">

                        <div class=" border-form">
                            <div class="container width-100">
                                <div class="large-12 column">
                                    <div class="xzoom-container">
                                        <img class="xzoom xzoom-width" id="xzoom-default"
                                             src="data:{{ product.img.0.productImgType }}; base64,{{ product.img.0.productImg }}"
                                             alt="{{ product.productClass }} {{ product.productCode }}">
                                        <div class="xzoom-thumbs">
                                            {% for img in product.img %}
                                                <a href="#"><img class="xzoom-gallery" width="80"
                                                                 src="data:{{ img.productImgType }}; base64,{{ img.productImg }}"
                                                                 alt="{{ product.productClass }} {{ product.productCode }}"></a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form class="form-horizontal">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="code" class="col-sm-3 control-label">Codigo:</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="code" class="form-control"
                                                       placeholder="{{ product.productCode }}"
                                                       title="Codigo del producto" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="class" class="col-sm-3 control-label">Clase:</label>
                                            <div class="col-sm-9">
                                                <select id="class" class="form-control" title="Clase del producto"
                                                        disabled>
                                                    <option>{{ product.productClass }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="brand" class="col-sm-3 control-label">Marca:</label>
                                            <div class="col-sm-9">
                                                <select id="brand" class="form-control" title="Marca del producto"
                                                        disabled>
                                                    <option>{{ product.productBrand }}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="stock" class="col-sm-3 control-label">Stock:</label>
                                            <div class="col-sm-9">
                                                <select id="stock" class="form-control" title="Marca del producto"
                                                        disabled>
                                                    <option>{{ product.stock }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="price" class="col-sm-3 control-label">Precio:</label>
                                            <div class="col-sm-9">
                                                <input type="number" step="0.01" id="price" class="form-control"
                                                       placeholder="{{ product.price }}" title="Precio del producto"
                                                       disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="offer" class="col-sm-3 control-label">Oferta:</label>
                                            <div class="col-sm-9">
                                                <input type="number" step="0.01" id="offer" class="form-control"
                                                       placeholder="{{ product.offer }}"
                                                       title="Precio de oferta del producto"
                                                       readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="vihicle" class="col-sm-12 control-label">Vehiculos:</label>
                                            <div class="col-sm-12">

                                                <select id="main-pop-select" class="form-control"
                                                        title="Vehiculos que utilizan el producto" disabled>
                                                    <option value="" selected="selected">aaa</option>
                                                    {% for vehicle in product.vehicle %}
                                                        <option value="{{ vehicle.vehicleModel }}"
                                                                selected="selected">{{ vehicle.vehicleModel }}</option>
                                                    {% endfor %}
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="description"
                                                   class="col-sm-12 control-label">Descripci贸n:</label>
                                            <div class="col-sm-12">
                                                 <textarea id="description" class="form-control" rows="5"
                                                           placeholder="{{ product.description }}"
                                                           title="descripci贸n del producto"
                                                           readonly></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    {% endfor %}




    {% for product in array.productList %}
        <!-- Modal -->
        <div id="updateModal{{ loop.index }}" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Editar Producto</h4>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    {% endfor %}



    {% for product in array.productList %}
        <!-- Modal -->
        <div id="deleteModal{{ loop.index }}" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Detalles del Producto</h4>
                    </div>
                    <div class="modal-body">

                        <div class=" border-form">
                            <div class="container width-100">
                                <div class="large-12 column">
                                    <div class="xzoom-container">
                                        <img class="xzoom2 xzoom-width" id="xzoom-default"
                                             src="data:{{ pxzoom-widthroduct.img.0.productImgType }}; base64,{{ product.img.0.productImg }}"
                                             alt="{{ product.productClass }} {{ product.productCode }}">
                                        <div class="xzoom-thumbs">
                                            {% for img in product.img %}
                                                <a href="#"><img class="xzoom-gallery2" width="80"
                                                                 src="data:{{ img.productImgType }}; base64,{{ img.productImg }}"
                                                                 alt="{{ product.productClass }} {{ product.productCode }}"></a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form class="form-horizontal">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="code" class="col-sm-3 control-label">Codigo:</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="code" class="form-control"
                                                       placeholder="{{ product.productCode }}"
                                                       title="Codigo del producto" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="class" class="col-sm-3 control-label">Clase:</label>
                                            <div class="col-sm-9">
                                                <select id="class" class="form-control" title="Clase del producto"
                                                        disabled>
                                                    <option>{{ product.productClass }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="brand" class="col-sm-3 control-label">Marca:</label>
                                            <div class="col-sm-9">
                                                <select id="brand" class="form-control" title="Marca del producto"
                                                        disabled>
                                                    <option>{{ product.productBrand }}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="stock" class="col-sm-3 control-label">Stock:</label>
                                            <div class="col-sm-9">
                                                <select id="stock" class="form-control" title="Marca del producto"
                                                        disabled>
                                                    <option>{{ product.stock }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="price" class="col-sm-3 control-label">Precio:</label>
                                            <div class="col-sm-9">
                                                <input type="number" step="0.01" id="price" class="form-control"
                                                       placeholder="{{ product.price }}" title="Precio del producto"
                                                       disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="offer" class="col-sm-3 control-label">Oferta:</label>
                                            <div class="col-sm-9">
                                                <input type="number" step="0.01" id="offer" class="form-control"
                                                       placeholder="{{ product.offer }}"
                                                       title="Precio de oferta del producto"
                                                       readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="vihicle" class="col-sm-12 control-label">Vehiculos:</label>
                                            <div class="col-sm-12">

                                                <select id="main-pop-select" class="form-control"
                                                        title="Vehiculos que utilizan el producto" disabled>
                                                    <option value="" selected="selected">aaa</option>
                                                    {% for vehicle in product.vehicle %}
                                                        <option value="{{ vehicle.vehicleModel }}"
                                                                selected="selected">{{ vehicle.vehicleModel }}</option>
                                                    {% endfor %}
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="description"
                                                   class="col-sm-12 control-label">Descripci贸n:</label>
                                            <div class="col-sm-12">
                                                 <textarea id="description" class="form-control" rows="5"
                                                           placeholder="{{ product.description }}"
                                                           title="descripci贸n del producto"
                                                           readonly></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <form action="index.php" method="post">
                            <input type="text" value="delete" name="aux" style="display: none">
                            <input type="text" value="{{ product.productCode }}" name="code" class="no-display">
                            <input type="text" value="{{ product.productBrand }}" name="brand" class="no-display">
                            <input type="text" value="{{ product.productClass }}" name="class" class="no-display">
                            <input type="submit" value="Eleminar" class="btn btn-primary">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    {% endfor %}








{% endblock %}