<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>


    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ pathAsset }}css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ pathAsset }}css/font-awesome.min.css">
    <!-- xzoom plugin here -->
    <link rel="stylesheet" type="text/css" href="{{ pathAsset }}css/xzoom.css" media="all"/>
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ pathAsset }}css/dataTables.bootstrap.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ pathAsset }}css/owl.carousel.css">
    <link rel="stylesheet" href="{{ pathAsset }}css/style.css">
    <link rel="stylesheet" href="{{ pathAsset }}css/responsive.css">
    <link rel="stylesheet" href="{{ pathAsset }}css/custom.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{{ pathAsset }}js/html5shiv.min.js"></script>
    <script src="{{ pathAsset }}js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div class="header-area" id="start">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="user-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-user"></i> Login
                                <span class="caret"></span></a>
                            <ul id="login-dp" class="dropdown-menu">
                                <li class="block">
                                    <div class="row">
                                        <div class="col-md-12 login-padding">
                                            <p>Login:</p>
                                            <form class="form" role="form" method="post" action="index.php"
                                                  accept-charset="UTF-8" id="login-nav">
                                                <div class="form-group">
                                                    <label class="sr-only" for="exampleInputEmail2">Email</label>
                                                    <input type="email" class="form-control" placeholder="Email"
                                                           name="login"
                                                           required>
                                                </div>
                                                <div class="form-group">
                                                    <label class="sr-only"
                                                           for="exampleInputPassword2">Contraseña</label>
                                                    <input type="password" class="form-control" placeholder="Contraseña"
                                                           name="password"
                                                           required>
                                                    <!-- <div class="help-block text-right"><a href=""> Oldido su contraseña
                                                            ?</a></div> -->
                                                </div>
                                                <input name="link" value="adminBase" style="display: none">
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary btn-block">Acceder
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End header area -->
<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-3 col-xs-12">
                <div class="logo-container">
                    <img src="data:{{ array.main.imgType }}; base64,{{ array.main.img }}"
                         alt="Logo de {{ array.main.name1 }} {{ array.main.nome2 }}"
                         class="logo-empresa">
                </div>
            </div>
            <div class="col-md-10 col-sm-9 col-xs-12">
                <div class="logo">

                    <h1><a href="index.php">{{ array.main.name1 }}
                            <br/> <span> {{ array.main.name2 }}</span></a></h1>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End site branding area -->
<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% block navLink %}
                        <li class="active"><a href="#start">inicio</a></li>
                        <li><a href="#about">quienes somos</a></li>
                        <li><a href="#brands">nuestras marcas</a></li>
                        <li><a href="index.php?link=userProduct">nuestros productos</a></li>
                        <li><a href="#location">donde estamos</a></li>
                        <li><a href="#contacts">contactos</a></li>
                    {% endblock %}
                </ul>
            </div>
        </div>
    </div>
</div> <!-- End mainmenu area -->
{% block main %}


{% endblock %}
<div class="footer-top-area" id="contacts">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="footer-about-us">
                    <h2 class="footer-wid-title">Contactos</h2>
                    <p>Telefonos: {{ array.main.phone1 }}, {{ array.main.phone2 }}.</p>
                    <p>Correo: {{ array.main.email }}</p>
                    <h2>{{ array.main.name1 }}<span> {{ array.main.name2 }}</span></h2>
                    <div class="footer-social">
                        <a href="{{ array.main.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="{{ array.main.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="{{ array.main.googleplus }}" target="_blank"><i class="fa fa-google-plus"></i></a>
                        <a href="{{ array.main.skype }}" target="_blank"><i class="fa fa-skype"></i></a>
                        <a href="{{ array.main.youtube }}" target="_blank"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="footer-menu">

                    <h2 class="footer-wid-title">Ubicación</h2>
                    <p>{{ array.main.location }}</p>

                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="footer-newsletter">
                    <h2 class="footer-wid-title">Suscripción</h2>
                    <p>Regístrese en nuestro boletín y obtenga ofertas exclusivas que no encontrará en ningún otro sitio directamente a su
                        ¡bandeja de entrada!</p>
                    <div class="newsletter-form">
                        <form action="#">
                            <input type="email" placeholder="Ingresa tu email">
                            <input type="submit" value="Suscribirse">
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div> <!-- End footer top area -->

<div class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="copyright">
                    <p>&copy; 2017. Todos los Derechos Reservados. Codificado por <a href="#">Miguel, Oel, Carlos.</a>
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="footer-card-icon">
                    <img src="{{ pathAsset }}img/tech.png" alt="Tecnologias utilizadas para el desarrollo del sistema"
                         class="tech">
                </div>
            </div>
        </div>
    </div>
</div> <!-- End footer bottom area -->




<!-- Latest jQuery form server -->
<script src="{{ pathAsset }}js/jquery.min.js"></script>
<!-- Bootstrap JS form -->
<script src="{{ pathAsset }}js/bootstrap.min.js"></script>
<!-- jQuery sticky menu -->
<script src="{{ pathAsset }}js/owl.carousel.min.js"></script>
<script src="{{ pathAsset }}js/jquery.sticky.js"></script>
<!-- jQuery easing -->
<script src="{{ pathAsset }}js/jquery.easing.1.3.min.js"></script>
<!-- Main Script -->
<script src="{{ pathAsset }}js/main.js"></script>
<!--Google Maps API-->
<script src="{{ pathAsset }}js/api_google_maps.js"></script>
<script src="{{ pathAsset }}js/google_map.js"></script>
<!-- xzoom plugin here -->
<script src="{{ pathAsset }}js/xzoom.min.js"></script>
<script src="{{ pathAsset }}js/setup.js"></script>

<!-- ajax -->
<script src="{{ pathAsset }}js/ajax.js"></script>

</body>
</html>