{% extends 'base.html.twig' %}

{% block title %} {{ array.main.name1 }} {{ array.main.name2 }} {% endblock %}

{% block main %}
    <div class="slider-area">
    <div class="zigzag-bottom"></div>
    <div id="slide-list" class="carousel carousel-fade slide" data-ride="carousel">
    <div class="slide-bulletz">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="carousel-indicators slide-indicators">
                        <li data-target="#slide-list" data-slide-to="0" class="active"></li>
                        <li data-target="#slide-list" data-slide-to="1"></li>
                        <li data-target="#slide-list" data-slide-to="2"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-inner" role="listbox">
    {% for slide  in 1..3 %}
    {% if slide == 1 %}
    <div class="item active">
        <div class="single-slide">
            <div class="slide-bg slide-one"></div>
            {% elseif slide == 2 %}
            <div class="item">
                <div class="single-slide">
                    <div class="slide-bg slide-two"></div>
                    {% else %}
                    <div class="item">
                        <div class="single-slide">
                            <div class="slide-bg slide-three"></div>
                            {% endif %}
                            <div class="slide-text-wrapper">
                                <div class="slide-text">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-6 col-md-offset-6">
                                                <div class="slide-content">
                                                    <h2>We are superb {{ slide }}</h2>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                        Dolores,
                                                        eius?</p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                        Deleniti
                                                        voluptates necessitatibus dicta recusandae quae amet
                                                        nobis
                                                        sapiente
                                                        explicabo voluptatibus rerum nihil quas saepe, tempore
                                                        error
                                                        odio
                                                        quam obcaecati suscipit sequi.</p>
                                                    <a href="" class="readmore">Learn more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div> <!-- End slider area -->

        <div class="promo-area">
            <div class="zigzag-bottom"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="single-promo">
                            <i class="fa fa-refresh"></i>
                            <p>30 Days return</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="single-promo">
                            <i class="fa fa-truck"></i>
                            <p>Free shipping</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="single-promo">
                            <i class="fa fa-lock"></i>
                            <p>Secure payments</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="single-promo">
                            <i class="fa fa-gift"></i>
                            <p>New products</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End promo area -->

        <div class="maincontent-area">
            <div class="zigzag-bottom"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="latest-product">
                            <h2 class="section-title">Nuevos Productos</h2>
                            <div class="product-carousel">


                                <div class="single-product">
                                    <div class="product-f-image">
                                        <img src="{{ array.product.img }}" alt="{{ array.product.name }}">
                                        <div class="product-hover">
                                            <a href="" class="view-details-link"><i
                                                        class="fa fa-link"></i>detalles</a>
                                        </div>
                                    </div>
                                    <form action="" method="get">
                                        <button type="button" name="product" value="{{ array.product.name }}"
                                                class="text-button"
                                                id="product">
                                            <h2>{{ array.product.name }}</h2>
                                        </button>
                                        <div class="product-carousel-price">
                                            <label for="product">
                                                <ins>Bs. {{ array.product.offer }}</ins>
                                                <del>Bs. {{ array.product.price }}</del>
                                            </label>
                                        </div>

                                    </form>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End main content area -->

        <div class="brands-area">
            <div class="zigzag-bottom"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="brand-wrapper">
                            <h2 class="section-title">Nuestras Marcas</h2>
                            <div class="brand-list">


                                {% for brand  in brands %}
                                    <img src="{{ brand }}" alt="">
                                {% endfor %}


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End brands area -->

        <div class="product-widget-area">
            <div class="zigzag-bottom" id="zig-map"></div>
            <div class="container no-margin">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="section-title">Donde estamos</h2>
                    </div>
                    <div class="row map">
                        <div id="map-container" class="col-md-12"></div>
                    </div>
                </div>
            </div>
        </div> <!-- End product widget area -->

{% endblock %}