{% extends 'base.html.twig' %}

{% block title %} {{ array.main.name1 }} {{ array.main.name2 }} {% endblock %}

{% block main %}
    <div class="slider-area">
        <div class="zigzag-bottom"></div>
        <div id="slide-list" class="carousel carousel-fade slide" data-ride="carousel">
            <div class="slide-bulletz">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ol class="carousel-indicators slide-indicators">
                                <li data-target="#slide-list" data-slide-to="0" class="active"></li>
                                <li data-target="#slide-list" data-slide-to="1"></li>
                                <li data-target="#slide-list" data-slide-to="2"></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-inner" role="listbox">
                {% for slide  in array.index.slide %}
                    <div class="item {% if loop.first %}active{% endif %}">
                        <div class="single-slide">
                            <div class="slide-bg slide-{{ slide.number }}"><img
                                        src="data:{{ slide.slideImgType }}; base64,{{ slide.slideImg }}" class="img-slide">
                            </div>
                            <div class="slide-text-wrapper">
                                <div class="slide-text">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-6 col-md-offset-6">
                                                <div class="slide-content">
                                                    <h2> {{ slide.title }} </h2>
                                                    <p>{{ slide.content }}</p>
                                                    <a href="{{ slide.link }}" class="readmore">Ver mas</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div> <!-- End slider area -->
    <div class="promo-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo">
                        <i class="fa fa-refresh"></i>
                        <p>30 Days return</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo">
                        <i class="fa fa-truck"></i>
                        <p>Free shipping</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo">
                        <i class="fa fa-lock"></i>
                        <p>Secure payments</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo">
                        <i class="fa fa-gift"></i>
                        <p>New produc</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End promo area -->
    <div class="maincontent-area" id="about">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="latest-product">
                        <h2 class="section-title">Quienes Somos</h2>
                        <p>En construcción</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End main content area -->
    <div class="brands-area" id="brands">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="brand-wrapper">
                        <h2 class="section-title">Nuestras Marcas</h2>
                        <div class="brand-list">
                            {% for brand  in array.index.vehicleBrand %}
                                <img src="data:{{ brand.vehicleBrandImgType }}; base64,{{ brand.vehicleBrandImg }}"
                                     alt="logo de {{ brand.vehicleBrand }}" class="brand-img">
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End brands area -->
    <div class="product-widget-area" id="location">
        <div class="zigzag-bottom" id="zig-map"></div>
        <div class="container no-margin">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-title">Donde estamos</h2>
                </div>
                <div class="row map">
                    <div id="map-container" class="col-md-12"></div>
                </div>
            </div>
        </div>
    </div> <!-- End product widget area -->

{% endblock %}