{% extends 'base.html.twig' %}

{% block title %} Productos {% endblock %}

{% block navLink %}
    <li><a href="index.php">inicio</a></li>
    <li><a href="index.php#about">quienes somos</a></li>
    <li><a href="index.php#brands">nuestras marcas</a></li>
    <li class="active"><a href="#products">nuestros productos</a></li>
    <li><a href="index.php#location">donde estamos</a></li>
    <li><a href="#contacts">contactos</a></li>
{% endblock %}


{% block main %}
    <div id="products">
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Nuestros Productos</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                {% for product in array.product.productList %}
                    <div class="col-md-3 col-sm-6">
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="data:{{ product.img.0.productImgType }}; base64,{{ product.img.0.productImg }}"
                                     alt="{{ product.productClass }} {{ product.productCode }}">
                                <div class="product-hover">
                                    <a href="index.php?link=userSingleProduct&class={{ product.productClass }}&brand={{ product.productBrand }}&code={{ product.productCode }}" class="view-details-link"><i
                                                class="fa fa-link"></i>detalles</a>
                                </div>
                            </div>
                            <h2><a href="">{{ product.productClass }} {{ product.productCode }}</a></h2>
                            <div class="product-carousel-price">
                                <ins>{{ product.offer }} Bs.</ins>
                                <del>{{ product.price }} Bs.</del>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="product-pagination text-center">
                        <nav>
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>

                                <li><a href="#">1</a></li>


                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>


        </div>
    </div>
    </div>
{% endblock %}