{% extends 'base.html.twig' %}


{% block title %} Productos {% endblock %}

{% block navLink %}
    <li><a href="index.php">inicio</a></li>
    <li><a href="index.php#about">quienes somos</a></li>
    <li><a href="index.php#brands">nuestras marcas</a></li>
    <li class="active"><a href="index.php?link=userProduct">nuestros productos</a></li>
    <li><a href="index.php#location">donde estamos</a></li>
    <li><a href="#contacts">contactos</a></li>
{% endblock %}

{% block main %}


    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Detalles del Producto</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-content-right">
                        <div class="product-breadcroumb">
                             <a href="index.php">Inicio</a>
                             <a href="index.php?link=userProduct">Nuestors Productos</a>
                             <a href="#">{{ array.singleProduct.product.productClass }} {{ array.singleProduct.product.productCode }}</a>
                         </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="product-images">
                                    <div class="product-main-img">
                                        <div class="xzoom-container">
                                            <img class="xzoom" id="xzoom-default"
                                                 src="data:{{ array.singleProduct.product.productImgType }}; base64,{{ array.singleProduct.product.productImg }}"
                                                 alt="{{ array.singleProduct.product.productClass }} {{ array.singleProduct.product.productCode }}"
                                                 xoriginal="data:{{ array.singleProduct.product.img.0.productImgType }}; base64,{{ array.singleProduct.product.img.0.productImg }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="product-inner">
                                    <h2 class="product-name">{{ array.singleProduct.product.productClass }} {{ array.singleProduct.product.productCode }}</h2>
                                    <div class="product-inner-price">
                                        <ins>{{ array.singleProduct.product.offer }} Bs. ({{ array.singleProduct.iva.offerAmount }} Bs + IVA )</ins>
                                        <del>{{ array.singleProduct.product.price }} Bs.</del>
                                    </div>
                                    <div role="tabpanel">
                                        <ul class="product-tab" role="tablist">
                                            <li role="presentation" class="active"><a href="#description" aria-controls="home"
                                                                                      role="tab" data-toggle="tab">Descripción</a></li>
                                            <li role="presentation"><a href="#vehicle" aria-controls="profile"
                                                                       role="tab" data-toggle="tab">Compatibilidad</a></li>
                                            <li role="presentation"><a href="#contacts1" aria-controls="profile"
                                                                       role="tab" data-toggle="tab">Reservar</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="description">
                                                <h2>Descripcion del Producto</h2>
                                                <p>{{ array.singleProduct.product.description }}</p>


                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="vehicle">
                                                <h2>Vehiculos Compatibles</h2>
                                                <div class="box-body">
                                                    <table id="maintable" class="table table-bordered table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th class="th-3">Marca</th>
                                                            <th class="th-3">Modelo</th>
                                                            <th class="th-3">Año de Serie</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for vehicle in array.singleProduct.product.vehicle %}
                                                            <tr>
                                                                <td class="td-3">{{ vehicle.vehicleBrand }}</td>
                                                                <td class="td-3">{{ vehicle.vehicleModel }}</td>
                                                                <td class="td-3">{{ vehicle.firstYear }} - {{ vehicle.lastYear }}</td>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    <!-- / .table -->
                                                </div>

                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="contacts1">
                                                <h2>Contactos</h2>
                                                <p>Telefonos: {{ array.main.phone1 }}, {{ array.main.phone2 }}.</p>
                                                <p>Correo: {{ array.main.email }}</p>
                                                <h2>{{ array.main.name1 }}<span> {{ array.main.name2 }}</span></h2>
                                                <div class="footer-social">
                                                    <a href="{{ array.main.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a>
                                                    <a href="{{ array.main.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
                                                    <a href="{{ array.main.googleplus }}" target="_blank"><i class="fa fa-google-plus"></i></a>
                                                    <a href="{{ array.main.skype }}" target="_blank"><i class="fa fa-skype"></i></a>
                                                    <a href="{{ array.main.youtube }}" target="_blank"><i class="fa fa-youtube"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="related-products-wrapper">
                            <h2 class="related-products-title">Productos</h2>
                            <div class="related-products-carousel">
                                <div class="container">
                                    <div class="row">
                                        {% for product in array.singleProduct.productList %}
                                            <div class="col-md-3 col-sm-6">
                                                <div class="single-product">
                                                    <div class="product-f-image">
                                                        <img src="data:{{ product.productImgType }}; base64,{{ product.productImg }}"
                                                             alt="{{ product.productClass }} {{ product.productCode }}">
                                                        <div class="product-hover">
                                                            <a href="index.php?link=userSingleProduct&class={{ product.productClass }}&brand={{ product.productBrand }}&code={{ product.productCode }}"
                                                               class="view-details-link">
                                                                <i class="view-details-link"></i><i class="fa fa-link"></i>detalles</a>
                                                        </div>
                                                    </div>
                                                    <h2>
                                                        <a href="">{{ product.productClass }} {{ product.productCode }}</a>
                                                    </h2>
                                                    <div class="product-carousel-price">
                                                        <ins>{{ product.offer }} Bs.</ins>
                                                        <del>{{ product.price }} Bs.</del>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}