{% extends 'base.html.twig' %}


{% block title %} Productos {% endblock %}

{% block navLink %}
    <li><a href="index.php">inicio</a></li>
    <li><a href="index.php#about">quienes somos</a></li>
    <li><a href="index.php#brands">nuestras marcas</a></li>
    <li class="active"><a href="index.php?link=userProduct">nuestros productos</a></li>
    <li><a href="index.php#location">donde estamos</a></li>
    <li><a href="#contacts">contactos</a></li>
{% endblock %}

{% block main %}


    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Detalles del Producto</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-content-right">
                       <!-- <div class="product-breadcroumb">
                            <a href="">Home</a>
                            <a href="">Category Name</a>
                            <a href="">Sony Smart TV - 2015</a>
                        </div>
                        -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="product-images">
                                    <div class="product-main-img">
                                        <img src="data:{{ array.singleProduct.product.productImgType }}; base64,{{ array.singleProduct.product.productImg.productImg }} " alt="">
                                    </div>

                                    <div class="product-gallery">
                                        <img src="data:{{ array.singleProduct.product.imgType }}; base64,{{ array.singleProduct.product.img }} " alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="product-inner">
                                    <h2 class="product-name">{{ array.singleProduct.product.productCode }} / {{ array.singleProduct.product.productClass }} </h2>
                                    <div class="product-inner-price">
                                        <ins>{{ array.singleProduct.product.offer }} Bs.</ins>
                                        <del>{{ array.singleProduct.product.price}} Bs.</del>
                                    </div>


                                    <div class="product-inner-category">
                                        <p>Categoria: <a href="">{{ array.singleProduct.product.productCategory }}</a>. Etiquetas: <a href=""> {{ array.singleProduct.product.productClass }}</a>. </p>
                                    </div>

                                    <div role="tabpanel">
                                        <ul class="product-tab" role="tablist">
                                            <li role="presentation" class="active"><a href="#home" aria-controls="home"
                                                                                      role="tab" data-toggle="tab">Descripción</a>
                                            </li>
                                            <li role="presentation"><a href="#profile" aria-controls="profile"
                                                                       role="tab" data-toggle="tab">Vehiculos</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="home">
                                                <h2>Descripcion del Producto</h2>
                                                <p>{{ array.singleProduct.product.description }}</p>


                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="profile">
                                                <h2>Vehiculos Compatibles</h2>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="related-products-wrapper">
                            <h2 class="related-products-title">Productos Relacionados</h2>
                            <div class="related-products-carousel">
                                <div class="container">
                                    <div class="row">
                                        {% for product in array.singleProduct.productList %}
                                            <div class="col-md-3 col-sm-6">
                                                <div class="single-product">
                                                    <div class="product-f-image">
                                                        <img src="data:{{ product.productImgType }}; base64,{{ product.productImg }}"
                                                             alt="{{ product.productClass }} {{ product.productCode }}">
                                                        <div class="product-hover">
                                                            <a href="index.php?link=userSingleProduct&class={{ product.productClass }}&brand={{ product.productBrand }}&code={{ product.productCode }}" class="view-details-link"><i
                                                                        class="view-details-link"><i
                                                                        class="fa fa-link"></i>detalles</a>
                                                        </div>
                                                    </div>
                                                    <h2><a href="">{{ product.productClass }} {{ product.productCode }}</a></h2>
                                                    <div class="product-carousel-price">
                                                        <ins>{{ product.offer }} Bs.</ins>
                                                        <del>{{ product.price }} Bs.</del>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}